@model TranTuDat_2180607431.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Link CSS file -->
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <div class="course">
        <ul>
            @foreach (var course in Model.UpcommingCourses)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.DateTime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.DateTime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecturer">
                            @course.Lecturer.Name
                            @if (Model.ShowAction)
                            {
                                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>

                            }
                        </span>
                        <span class="category">
                            @course.Category.Name
                        </span>
                        @if (Model.ShowAction)
                        {
                            <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going</button>

                        }
                    </div>
                </li>
            }
        </ul>
    </div>
</body>
</html>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Someting failed!");
                    });


            });
            /*
            $.get("/api/attendances", function (data) {
                // Xử lý dữ liệu trả về ở đây
                console.log(data); // In dữ liệu ra console
            });

            */
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");

                    })
                    .fail(function () {
                        alert("Someting failed!");
                    });


            });

        });


    </script>
}
